<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eastebiz.dao.AdminDao">

    <select id="selectOneAdmin" resultType="Admin">
        select
          AdminName,Password
           from  admin
           where  AdminName=#{adminName} and  Password=#{password}
    </select>

</mapper>
